.Game {
    background: #EED4BE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    #startTimer {
        display: flex;
        font-size: 100px;
        margin: 100px;
        color: #fe7717;
        font-family: "SDMiSaeng";
    }
    #game {
        background: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
            position: relative;
            color: #262626;
            font-size: 100px;
        }
    }
}
