.Home {
    background: #fff5de;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .제목 {
            color: #fe7717;
            font-family: "SANJUGotgam";
            font-size: 3rem;
            margin-top: 6rem;
            margin-bottom: 1rem;
            text-align: center;
        }
        .작은제목 {
            color: #3a3a3a;
            font-family: "SDMiSaeng";
            font-size: 2rem;
        }
        .떡국 {
            width: 5rem;
            height: 5rem;
            font-size: 2rem;
            background: #faa;
            border-radius: 20%;
            margin: 3rem;
        }
        .nameInput {
            width: 70%;
            position: relative;
            height: 5rem;
            input {
                position: absolute;
                margin-top: 0.75rem;
                font-size: 2rem;
                width: 100%;
                height: 48px;
                background: transparent;
                font-family: "SDMiSaeng";
                border: none;
                color: #3a3a3a;
                padding-left: 2rem;
                &:focus {
                    outline: none;
                }
                &:-webkit-autofill,
                &:-webkit-autofill:focus {
                    transition: background-color 600000s 0s, color 600000s 0s;
                }
            }
            img {
                width: 100%;
                position: absolute;
            }
        }
        .goButton {
            width: 70%;
            position: relative;
            height: 5rem;
            p {
                position: absolute;
                margin-top: 1.25rem;
                font-size: 2rem;
                width: 100%;
                height: 48px;
                background: transparent;
                font-family: "SDMiSaeng";
                border: none;
                color: #3a3a3a;
                padding-left: 5rem;
                &:focus {
                    outline: none;
                }
            }
            img {
                width: 100%;
                position: absolute;
            }
            &:active{
                transform: translateY(5px);
                filter: opacity(60%);
                img {   
                    filter: opacity(60%);
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 120px;
        justify-content: center;
        font-size: 1.5rem;
        font-family: "SDMiSaeng";
        background: gray;
        align-items: center;
        span {
            color: rgb(53, 53, 53);
            width: auto;
            margin: 0;
            text-align: center;
        }
    }
}
